# Application Settings
APP_NAME=BookThrift API
DEBUG=False

# Server Settings
HOST=0.0.0.0
PORT=8000

# Database Settings (Optional)
# DATABASE_URL=sqlite:///./test.db
# DATABASE_URL=postgresql://user:password@localhost/bookthrift
